# env contains database passwords - must be secure
.env

# Dependency Folders 
node_modules/

# System files, for macos users
.DS_Store
Thumbs.db

#this is done for fr certain files like env to stay private and safe

#at this stage everyone can call their db smth else
eventsPO.sql
