#a reusable template for teammates` .envs (hidden by .gitignore), paste in your own info


DB_HOST=localhost 

DB_USER=root 
DB_PASSWORD=yourMYSQLpassword 
EVENTS_SCHEMA=artsy_dublin # or whatever you call the SCHEMA/DATABASE on your mysql workbench (the one in bold)
EVENTS_TABLE=events # or whatever you call the TABLE on your mysql workbench (the actual table of events)
 
Ticketmaster_API_KEY=yourkey(sengul sent)
TMDB_ACCESS_TOKEN=yourkey(sengul sent)
 
PORT= 
