TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNjg1NzlmOGFlZTgxNjU1ZGYyOTRhYWUzODE2ZjdhYSIsIm5iZiI6MTc3MDc0MTM0OS4yMzYsInN1YiI6IjY5OGI1ZTY1YmM0MjBhOTZiZWM3MjQwYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.VMgwWMSNmyoIHur6eEtbGaQf_rWaQYhG3zwJhRLojK4
Ticketmaster_API_KEY=O27gjbqybJjDaEVVpNMPAhuEEUlAB1eu #dont share!

EVENTS_TABLE=events
DB_NAME=apievents
DB_HOST=localhost
DB_USER=root
DB_PASSWORD= #dont share!