<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

  <nav>
    <a href="/" class="logo">🎭 Artsy Dublin</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/events">All Events</a></li>
      <li><a href="/diary">My Diary</a></li>
    </ul>
  </nav>

  <main>
    <%- body %>
  </main>

  <footer>
    <p>© 2026 Artsy Dublin</p>
  </footer>

</body>
</html>